


<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-N4JR4XW');</script>
  <!-- End Google Tag Manager -->
  
  <title>Patrick Petrushonis - Nunjucks Templating</title>
  <meta http-equiv="cache-control" content="public">
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <link href="../../app/css/main.css" rel="stylesheet" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet" type="text/css"/>  
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N4JR4XW"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div id="section-top" class="main-container">
    <div class="main-content">
      
  <div class="header-container fixed">
    <div class="header-controls">
      <div class="header-logo">
        <a class="button" data="scroll" href="/">Patrick Petrushonis</a>
      </div>
      <div class="header-controls__nav-toggle">
        <input type="checkbox" name="nav-toggle">
        <span class="nav-icon"></span>
      </div>
      <ul>
        <li><a class="button" data="scroll" href="../../#section-about">About</a></li>
        <li><a class="button" data="scroll" href="../../#section-skills">Skills</a></li>
        <li><a class="button" data="scroll" href="../../#section-resume">Résumé</a></li>
      </ul>
    </div>
  </div>

      


  

  <div class="hero__container" container="hero">
    <h1 class="project__title">Nunjucks Templating</h1>
  </div>

  <div class="content content__project">
    <div class="section__container">
      <div class="section__content">
        <img class="project__image center" src="../../app/img/project-nunjucks.png">

        <p><a href='https://mozilla.github.io/nunjucks/'>Nunjucks</a> is a rich and powerful templating language. Drawing inspiration from jinja2, Nunjucks utilizes JavaScript to provide flexibility for a standard development environment of HTML.</p>

        <small>Prerequisite: Node, NPM, and Gulp should already be installed. See <a href="gulp-workflow.html">previous project</a> for additional information:</small>

        <h3>Nunjucks Installation</h3>

        <p>Our first step will be an integration of nunjucks into the gulp workflow. This requires the 'gulp-nunjucks-render' node module.</p>

        <pre>
          <code>
            npm install --save-dev gulp-nunjucks-render
          </code>
        </pre>

        <h3>Gulp Task</h3>

        <p>As we did before, the nunjucks node module can be added to the gulp pipeline for quick compilation into HTML. To access the node module, a variable must be created for reference.</p>

        <pre>
          <code>
            var render = require('gulp-nunjucks-render');
          </code>
        </pre>

        <p>Next up is the nunjucks gulp task. We'll define the default settings for rendering nunjucks as HTML. While most of these are kept as their default values, note the path field which will reference the main nunjucks template file.</p>
        
        <pre>
          <code>
            gulp.task('nunjucks', function() {
              var defaults = {
                path: config.src + 'templates/',
                ext: '.html',
                data: {},
                inheritExtension: false,
                envOptions: { watch: false },
                manageEnv: null,
                loaders: null
              };

              return gulp.src(config.src + 'pages/**/*.+(html|nunjucks)')
                .pipe(render(defaults))
                .pipe(gulp.dest(''))
            });
          </code>
        </pre>

        <p>To monitor any changes to our nunjucks files, we'll add a separate handler to the watch task. This will rerun the nunjucks task upon detecting a change to any html or nunjucks file in either the templates or pages directory that we'll create shortly.</p>

        <pre>
          <code>
            gulp.task('watch', function() {
              gulp.watch(config.src + 'scss/**/*.scss', ['styles']);
              gulp.watch([
                config.src + 'templates/**/*.+(html|nunjucks)', 
                config.src + 'pages/**/*.+(html|nunjucks)',
                ['nunjucks']
              );
            });
          </code>
        </pre>

        <p>Finally, the nunjucks task can be included in the default gulp task for ease of building.</p>

        <pre>
          <code>
            gulp.task('default', ['styles', nunjucks, 'watch']);
          </code>
        </pre>

        <p>The complete gulpfile.js is below:</p>

        <pre>
          <code>
            var gulp   = require('gulp');
            var sass   = require('gulp-sass');
            var maps   = require('gulp-sourcemaps');
            var prefix = require('gulp-autoprefixer');
            var clean  = require('gulp-clean-css');
            var render = require('gulp-nunjucks-render');

            var config = {
              src: 'dev/',
              dest: 'app/'
            }

            gulp.task('styles', function() {
              return gulp.src(config.src + 'scss/**/*.scss')
                .pipe(maps.init())
                .pipe(sass())
                .pipe(clean({ compatibility: 'ie8' }))
                .pipe(prefix({ browsers: ['> 1%', 'last 2 versions'] }))
                .pipe(maps.write())
                .pipe(gulp.dest(config.dest + 'css'))
            });

            gulp.task('nunjucks', function() {
              var defaults = {
                path: config.src + 'templates/',
                ext: '.html',
                data: {},
                inheritExtension: false,
                envOptions: { watch: false },
                manageEnv: null,
                loaders: null
              };

              return gulp.src(config.src + 'pages/**/*.+(html|nunjucks)')
                .pipe(render(defaults))
                .pipe(gulp.dest('')) 
            });

            gulp.task('watch', function() {
              gulp.watch(config.src + 'scss/**/*.scss', ['styles']);
              gulp.watch([
                config.src + 'templates/**/*.+(html|nunjucks)', 
                config.src + 'pages/**/*.+(html|nunjucks)'],
                ['nunjucks']
              );
            });

            gulp.task('default', ['styles', nunjucks, 'watch']);
          </code>
        </pre>

        <h3>Directory Setup</h3>

        <p>With the gulpfile ready to handle nunjucks compilation into HTML the only missing part are the actual nunjucks files. For these, three nunjucks files will get us started. See the below updated directory that now includes a pages and templates folder along with the partials subfolder within templates.</p>

        <pre>
          <code>
            - root
              - dev
                - pages
                  - index.nunjucks
                - scss
                - templates
                  - partials
                    - global.nunjucks
                  - layout.nunjucks
              - node_modules
              - gulpfile.js
              - package.json
          </code>
        </pre>

        <h4>layout.nunjucks</h4>

        <p>The layout nunjucks file is the foundation for all pages of the website. In this file, a head element can be defined for all other pages in addition to a global header and footer section. Beyond those, content can be dynamically fed into the central block.</p>

        <pre>
          <code>
            
            {% import '../templates/partials/global.nunjucks' as global %} 

            <!DOCTYPE html>
            &lt;html lang="en">
            &lt;head>

              &lt;title>{{ pagename }}&lt;/title>
              &lt;link href="app/css/main.css" rel="stylesheet" type="text/css">

            &lt;/head>
            &lt;body>

              {{ global.header() }}
              {% block content %}{% endblock %}
              {{ global.footer() }}

            &lt;/body>
            &lt;/html> 
            
          </code>
        </pre>

        <h4>global.nunjucks</h4>

        <p>Within the partials folder, a partial nunjucks solutions can be prepared for quick access on any page. The globals below are a header and footer that will be visible on any page. These are macros, the equivalent of functions in most programming languages. Both of these are called from the layout to insert their containing HTML. As more dynamism is required, these can even handle passing parameters with conditional logical to generate unique HTML depending on the page.</p>

        <pre>
          <code>
            
            {% macro header() %}
            &lt;div>
              &lt;span>Header&lt;/span>
            &lt;/div>
            {% endmacro %}

            {% macro footer() %}
            &lt;div>
              &lt;span>Footer&lt;/span>
            &lt;/div>
            {% endmacro %}
            
          </code>
        </pre>

        <h4>index.nunjucks</h4>

        <p>The last nunjucks file, for now, is the index. As this will be our homepage, we'll set the pagename variable to 'Home'. By extending from the layout, any HTML within the content block will be inserted in the layout template.</p>

        <pre>
          <code>
            
            {% set pagename = "Home" %}
            {% extends "layout.nunjucks" %}

            {% block content %}

            &lt;h1>Home Page&lt;/h1>

            &lt;p>Intro paragraph&lt;/p>

            {% endblock %}
            
          </code>
        </pre>

        <h3>Workflow Test</h3>

        <p>With the nunjucks files prepped for compilation, a test run is called for. Let's execute the default gulp task to see the merits of our work.</p>

        <pre>
          <code>
            gulp
          </code>
        </pre>

        <h3>Takeaways</h3>

        <p>Nunjucks provides some much needed functionality to HTML. Adding templating and macros to the gulp workflow has some immediate and apparent increases to productivity. In addition, there is a significant reduction in missing an update to content on one page when instead the content can be replaced with a simple macro call. An update would then only require changing the content of the macro and the effect is visible on all references.</p>

      </div>
    </div>
  </div>

  


  





      <a class="button__return-top hide" data="scroll" href="#section-top">
        <img src="../../app/img/icon-arrow-up.svg">
      </a>

      
  <div class="footer-container">
    <div class="footer-controls">    
    	<span>
        Created by
        <br class="mobile-only">
        Patrick Petrushonis 
      </span>  
      <ul class="social-icon__container">
        <li class="social-icon"><a class="social-github" target="_blank" href="https://github.com/PatrickPetrushonis"></a></li>
        <li class="social-icon"><a class="social-codepen" target="_blank" href="https://codepen.io/petrushonis/"></a></li>
        <li class="social-icon"><a class="social-linkedin" target="_blank" href="https://www.linkedin.com/in/patrick-petrushonis-83876b110/"></a></li>
      </ul>
    </div>
  </div>

    </div>
  </div>
  <footer><script async src="../../app/js/main.js"></script></footer>
</body>
</html>
