.footer-container {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   min-height: 55px;
   background-color: $gray-jet;
   
   .footer-controls {
      margin: 0 auto;
      max-width: $large-screen;
      height: auto;
   }
   
   ul {
      padding: 0 11px;
      width: auto;
      height: auto;
      line-height: 55px;
      list-style: none;
      
      @include breakpoint($small-screen) { float: right; }
      
      li {
         padding: 0 8px;
         float: left;
         
         .social-twitt { @include social-icon('twitter'); }
         .social-insta { @include social-icon('instagram'); }
         .social-linkn { @include social-icon('linkedin'); }
      }
   }   
}