.header-container {
  //display: none;
  width: 100%;
}

.header-controls {
  margin: 0 auto;
  max-width: $large-screen;
  height: auto;
  overflow: hidden; 

  .header-logo {
    margin-left: 11px;
    float: left;
    line-height: 33px;
  }
}

.header-controls ul {
  margin: 0;
  float: right;
  line-height: 33px;
  list-style: none;
  padding-left: 11px;
  padding-right: 11px;
  width: auto;
  height: auto;

  li {
    float: left;
    padding-right: 24px;
  }
}