pre {
	margin: 0;
	overflow-x: auto;
	overflow-y: hidden;
	width: 100%;
}

code {
	background-color: color(gray, jet);
	color: color(gray, light);
	display: block;
	float: left;
	margin: 0 0 22px;
	min-width: calc(100% - 22px);
	padding: 0 11px 16px;
}
