
.content__project {
  p { 
    text-align: justify; 
  }
}

.project__title {
	color: white;
	padding: 66px 0 44px;
}

.project__item {
  display: flex;
  margin: 22px 0;
}

.project__link {
  background: color(primary, light);
  border: 1px solid transparent;
  cursor: pointer;
  padding: 5.5px;
  transition: all 0.3s ease-out;
  width: 100%;

  @include breakpoint($small-screen) { 
    padding: 22px;
  }

  &.selected {
    border-color: color(gray, mid);
  }

  &:hover {
    transform: scale(1.1, 1.1);
  }
}

.project__image {
  display: block;
  height: auto;
  margin: 0 auto;
  max-height: 128px;
  max-width: 256px;
}

.project__details {
  border: 1px solid color(gray, mid);
  height: 0;
  margin: 0;
  opacity: 0;
  padding: 0 22px;
  transition: margin 0.5s, padding 0.5s;

  &.selected {
    height: auto;
    margin: 0 0 22px;
    opacity: 1;
    padding: 22px;
  }

  &:not(.selected) {
    overflow: hidden;
  }
}
