
// Mobile first breakpoint
@mixin breakpoint($point) {
	@media screen and (min-width: $point) { @content; }
}

@mixin social-icon($name) {
	height: 22px;
	width: 22px;
	display: block;	
	background: url('../img/logo-' + $name + '.svg') center no-repeat;
	background-size: cover;
	transition: all 0.3s ease-in-out;

	&:hover { transform: translateY(-0.25rem); }
}

@mixin rule-icon($name) {
	margin: 0 0 22px;
	padding: 0;
	display: block;
	overflow: visible;
	position: relative;
	height: 1px;

	border: 0;
	border-top: 1px solid color(gray, mid);

 	&:after {
		display: block;
	    position: absolute;
	    top: 0;
	    left: 50%;
	    width: 22px;
	    height: 22px;
	    content: "";
	    background-image: url('../img/rule-' + $name + '.png');
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    transform: translateY(-50%) translateX(-50%);
	}
}

@mixin banner($name, $mobile-pos) {
	background: url('../img/banner-' + $name + '.jpg');
	background-position: $mobile-pos;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;

	@include breakpoint($small-screen) {
		background-position: center left;
	}
}
