// Mobile first breakpoint
@mixin breakpoint($point) {
	@media screen and (min-width: $point) { @content; }
}

// Default button with customizable colors
@mixin button($default-color, $action-color) {
	margin: 22px 0;
	padding: 11px;
	display: inline-block;
	min-width: 80px;

	line-height: 16px;
	font-size: 16px;
	text-decoration: none;
	text-align: center;

	border: 2px solid $default-color;
	border-radius: 5px;
	color: $default-color;

	transition: all 0.3s ease-out;

	&:hover,
	&:focus { 
		background-color: $default-color;
		color: $action-color;
	}
}

@mixin social-icon($name) {
	height: 22px;
	width: 22px;
	display: block;	
	background: url('../img/logo-' + $name + '.png') center no-repeat;
	background-size: cover;
	transition: all 0.3s ease-in-out;

	&:hover { transform: translateY(-0.25rem); }
}

@mixin rule-icon($name) {
	margin: 0 0 22px;
	padding: 0;
	display: block;
	position: relative;
	height: 1px;

	border: 0;
	border-top: 1px solid $gray-mid;

	 &:after {
	 	display: inline-block;
		position: absolute;
		top: -11px;
		right: calc(50% - 11px);
		width: 22px;
		height: 22px;

		content: "";
		background: url('../img/rule-' + $name + '.png') center no-repeat;
		background-size: cover;
	}
}

@mixin particles($size, $count, $duration) {
	width: $size;
	height: $size;
	background: transparent;
	box-shadow: generate-box-shadows($count);
	z-index: $hero-particle;
	animation: vertical-scroll $duration linear infinite;

	&:after {
		content: "";
	    position: absolute;
	    top: 2000px;
	    width: $size;
	    height: $size;
		z-index: $hero-particle;
	    background: transparent;
	    box-shadow: generate-box-shadows($count);
	}
    
}