
// Mobile first breakpoint
@mixin breakpoint($point) {
	@media screen and (min-width: $point) { @content; }
}

@mixin social-icon($name) {
	height: 22px;
	width: 22px;
	display: block;	
	background: url('../img/logo-' + $name + '.png') center no-repeat;
	background-size: cover;
	transition: all 0.3s ease-in-out;

	&:hover { transform: translateY(-0.25rem); }
}

@mixin rule-icon($name) {
	margin: 0 0 22px;
	padding: 0;
	display: block;
	position: relative;
	height: 1px;

	border: 0;
	border-top: 1px solid color(gray, mid);

 	&:after {
	 	display: inline-block;
		position: absolute;
		top: -11px;
		right: calc(50% - 11px);
		width: 22px;
		height: 22px;

		content: "";
		background: url('../img/rule-' + $name + '.png') center no-repeat;
		background-size: cover;
	}
}
