html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.mobile-only {
	@include breakpoint($small-screen) { display: none; }
}

.center {
	margin-right: auto !important;
	margin-left: auto !important;
	display: block !important;
	text-align: center !important;
}

.hide {
	opacity: 0;
	visibility: hidden;
}

.marg-top-0 { 
	margin-top: 0; 
}

.marg-bottom-0 { 
	margin-bottom: 0; 
}

.marg-left-0 { 
	margin-left: 0; 
}

.marg-right-0 { 
	margin-right: 0; 
}

h1 {
  margin: 44px auto 22px;
  font-size: 44px;
  text-align: center;
}

h2 {
  margin: 44px auto 22px;
  font-size: 33px;
  text-align: center;
}

p {
  margin: 0 0 22px;
}

a {
  color: color(primary, light);
  font-weight: 700;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $header-font;
	text-shadow: rgba(color(gray, jet), 0.1) 0 0 1px;
}

p,
a,
span,
small,
ul,
li {
	font-family: $default-font;
	text-shadow: rgba(color(gray, jet), 0.1) 0 0 1px;
}

