html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.mobile-only {
	@include breakpoint($small-screen) { display: none; }
}

.center {
	margin-right: auto !important;
	margin-left: auto !important;
	display: block !important;
	text-align: center !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $header-font;
	text-shadow: rgba(color(gray, jet), 0.1) 0 0 1px;
}

p,
a,
span,
small,
ul,
li {
	font-family: $default-font;
	text-shadow: rgba(color(gray, jet), 0.1) 0 0 1px;
}