
.contact--input {
  background-color: color(gray, light);
  border: 1px solid color(gray, jet); 
  color: color(gray, jet);
  display: block;
  font-size: 16px;
  height: 33px;
  margin: 0 0 22px;
  padding: 5.5px;
  width: 100%;
}
