
.hero__container {
  margin: 0 auto;
  position: relative;
  height: auto;
  min-height: auto;
  background-color: color(gray, jet);
  overflow: hidden;
  z-index: $hero-container;
}

.hero__trianglify-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $hero-canvas;
}

.hero__portrait {
  background-color: color(gray, jet);
  border: 3px solid color(gray, jet);
  border-radius: 50%;
  height: auto;
  max-height: 256px;
  max-width: 256px;
  width: 100%;
}
