
.hero__container {
  margin: 0 auto;
  position: relative;
  height: auto;
  min-height: 50vh;
  background-color: transparent;
  overflow: hidden;
  z-index: $hero-container;    
}

.hero__trianglify-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $hero-canvas;
}

.hero__portrait {
  background-color: color(gray, jet);
  border: 3px solid color(gray, jet);
  border-radius: 50%;
  height: auto;
  max-height: 250px;
  max-width: 250px;
  width: 100%;

  @include breakpoint($small-screen) {
    max-height: 300px;
    max-width: 300px;
  }
}
