.main-container {
  position: relative;
  height: auto;
  min-height: 100%;

  background-color: $gray-light;
  color: $gray-jet;
  font-family: $default-font;
}

.main-content {
  margin: 0 auto;
  height: auto;
  overflow: hidden;
}

.hero__container {
  margin: 0 auto;
  position: relative;
  height: auto;
  min-height: 100vh;
  background-color: transparent;
  color: $gray-light;
  overflow: hidden;
  z-index: $hero-container;

  .hero__content {
    position: absolute;
    top: 44px;
    left: 50%;
    transform: translate(-50%);
  }

  .hero__layer--1 { @include particles(1px, 900, 150s); }
  .hero__layer--2 { @include particles(2px, 300, 100s); }
  .hero__layer--3 { @include particles(3px, 100, 100s); }

  .hero__trianglify-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: $hero-canvas;
  }
}

[class^="section__container"] {
  margin: 0 auto;
  padding: 0 0 44px;
  position: relative;
  text-align: center;

  &:before {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100px;
  }

  @include breakpoint($large-screen) {
    &:before { display: none; }
  }
}

.section__container {
  background-color: $gray-light;

  hr:after { background-color: $gray-light; }

  &:before {    
    background-color: $gray-light;
    transform: skewY(-4deg);
  }
}

.section__container--alt1 {
  background-color: $primary-color;

  &:before {    
    background-color: $primary-color;
    transform: skewY(4deg);
  }

  hr:after { background-color: $primary-color; }
}

.section__container--alt2 {
  background-color: $secondary-color;

  &:before {    
    background-color: $secondary-color;
    transform: skewY(4deg);
  }

  hr:after { background-color: $secondary-color; }
}

.section__content {
  margin: 0 auto;
  padding: 22px 22px 44px;
  max-width: $large-screen;
  height: auto;
  overflow: hidden;
}

.section__rule--about { @include rule-icon('about'); }
.section__rule--projects { @include rule-icon('projects'); }
.section__rule--resume { @include rule-icon('resume'); }
.section__rule--contact { @include rule-icon('contact'); }

h1 {
  margin: 44px auto 22px;
  font-size: 44px;
  text-align: center;
}

h2 {
  margin: 44px auto 22px;
  font-size: 33px;
  text-align: center;
}

p {
  margin: 0 0 22px;
}

.button {
  @include button($gray-jet, $gray-light);

  &.center { max-width: 120px; }
}