.main-container {
  position: relative;
  height: auto;
  min-height: 100%;
  background-color: color(gray, light);
  color: color(gray, jet);
}

.main-content {
  margin: 0 auto;
  height: auto;
  overflow: hidden;
}

h1 {
  margin: 44px auto 22px;
  font-size: 44px;
  text-align: center;
}

h2 {
  margin: 44px auto 22px;
  font-size: 33px;
  text-align: center;
}

p {
  margin: 0 0 22px;
}

.button {
  @include button(color(gray, jet), color(gray, light));

  &.center { max-width: 120px; }
}
