
.main-container {
  position: relative;
  height: auto;
  min-height: 100%;
  background-color: color(gray, light);
  color: color(gray, jet);
}

.main-content {
  margin: 0 auto;
  height: auto;
  overflow: hidden;
}
