
.project__title {
	color: white;
	padding: 66px 0 44px;
}

.project__item {
  background-position: center;
  height: 250px;
  position: relative;
}

.project__image {
  background-color: transparent;
  height: auto;
  margin: 0 0 22px;
  width: 100%;

  @include breakpoint($small-screen) {
    margin: 0;
    max-height: 250px;
    max-width: 250px;
  }
}
