
.content__project {
  p { 
    text-align: justify; 
  }
}

.project__title {
	color: white;
	padding: 66px 0 44px;
}

.project__item {
  background-position: center;
  height: 250px;
  position: relative;
}

.project__image {
  height: 250px;
  margin: 0 0 22px;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}
