
[class^="section__container"] {
  margin: 0 auto;
  padding: 0 0 44px;
  position: relative;
  text-align: center;

  &:before {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: $section-before;
  }

  @include breakpoint($large-screen) {
    &:before { display: none; }
  }
}

.section__container { 
  background-color: white;//color(primary, light);

  hr:after { background-color: white;/*color(primary, light);*/ }
}

.section__content {
  margin: 0 auto;
  padding: 22px 22px 44px;
  max-width: $large-screen;
  height: auto;
  overflow: hidden;
}

.section__rule--about { @include rule-icon('about'); }
.section__rule--projects { @include rule-icon('projects'); }
.section__rule--resume { @include rule-icon('resume'); }
.section__rule--contact { @include rule-icon('contact'); }

.section__tabs-container { margin: 0 0 22px; }

.section__tabs-list {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  list-style: none;
  text-align: left;

  li {
    padding: 22px 0;
    display: block;
    float: left;
    width: 33%;
    text-align: center;
    background: color(primary, light);

    &.selected { background: darken(color(primary, mid), 10); }
  }
}

.section__tabs-content {
  padding: 22px;
  display: none;
  font-size: 16px;
  margin: 22px 0 0;
  line-height: 22px;
  background: color(primary, mid);

  &.visible { display: block; }
}
